.hours-container {
  background-color: var(--background-color);

  height: 50dvh;

  padding: 1rem 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

   h1 {
    color: var(--secondary-color);

    font-family: Permanent Marker, sans-serif;
    font-size: 7rem;
  }

  /* Tablet responsive design */
  @media (max-width: 1024px) {
    padding: 1rem 3rem;

     h1 {
      font-size: 4.5rem;
    }
  }

  /* Mobile responsive design */
  @media (max-width: 500px) {
    text-align: center;

    padding: 1rem 2rem;

    gap: 3rem;

     h1 {
      font-size: 3rem;
    }
  }
}
