.header-container {
  background-color: var(--primary-color);

  font-family: Bebas Neue, sans-serif;

  padding: 1rem 5rem;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: 0.25rem;
}

/* Nav for monitor */
.monitor-nav-container ul {
  list-style: none;

  position: relative;
  top: calc(0.25rem / 2);

  display: flex;
  gap: 3rem;
}

/* Monitor nav bottom border for links */
.monitor-nav-container li::after {
  content: "";
  background: var(--secondary-color);

  width: 0;
  height: 0.25rem;

  display: block;

  transition: width 0.25s;
}

/* Monitor nav bottom border transition for links */
.monitor-nav-container li:hover::after {
  width: 100%;
}

/* Monitor nav link text */
.monitor-nav-container a {
  color: var(--secondary-color);

  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Button for tablet and moblie nav */
.menu-nav-button {
  background-color: transparent;

  border: 0;

  display: none;
  justify-content: center;
  align-items: center;
}

/* Tablet and mobile nav button image */
.menu-nav-button img {
  width: 2.5rem;
}

/* Tablet and mobile nav container */
.menu-nav-container {
  background-color: var(--background-color);

  padding: 1rem;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-nav-container ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Monitor nav link text */
.menu-nav-container a {
  color: var(--secondary-color);

  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Show dropdown menu on menu nav click */
.show {
  display: flex;
}

/* Tablet responsive design */
@media (max-width: 1024px) {
  .header-container {
    padding: 1rem 3rem;
  }

  .monitor-nav-container {
    display: none;
  }

  .menu-nav-button {
    display: flex;
  }
}

/* Mobile responsive design */
@media (max-width: 450px) {
  .header-container {
    padding: 1rem 2rem;
  }

  .header-container h1 {
    font-size: 2rem;
  }
}
