.footer-container {
  background-color: var(--secondary-color);

  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;

    display: flex;
    gap: 5rem;

    li {
      background-color: var(--primary-color);

      border-radius: 2rem;
    }

    a {
      padding: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 3rem;
    }
  }

  /* Mobile responsive design */
  @media (max-width: 500px) {
    ul a {
      padding: 0.25rem;
    }

    ul img {
      width: 2.5rem;
    }
  }
}
