@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgb(253, 223, 87);
  --secondary-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --primary-color-transparent: rgba(253, 223, 87, 0.15);
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
