.offers-container {
  background-color: var(--primary-color);

  height: 50vh;

  padding: 1rem 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.offers-container h1 {
  color: var(--secondary-color);

  font-family: Permanent Marker, sans-serif;
  font-size: 7rem;
}

/* Tablet responsive design */
@media (max-width: 1024px) {
  .offers-container {
    padding: 1rem 3rem;
  }

  .offers-container h1 {
    font-size: 4.5rem;
  }
}

/* Mobile responsive design */
@media (max-width: 450px) {
  .offers-container {
    text-align: center;

    padding: 1rem 2rem;

    gap: 3rem;
  }

  .offers-container h1 {
    font-size: 3rem;
  }
}